body {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	width: 100%;
	height: 100%;
	font-family: arial;
	background-color: #F8F8FF;
}

h1 {
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 50px;
	color: white;
	height: 100px;
	line-height: 100px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #557A95;
	width: 100%;
}

h1 span {
	text-align: center;
}

h2 {
	font-size: 30px;
	margin-bottom: 10px;
}

ul {
   list-style-type: none;
   padding: 10px 0;
   margin-top: 0px; 
   margin-bottom: 50px;
   background-color: #B1A296;
   text-align: center;
   width: 100%;

}

li {
   display: inline;
   font-size: 30px;
}

li a {
   color: black;
   padding: 10px 20px;
   text-decoration: none;
}

li a:hover {
   background-color: #5D5C61;
   color: white;
}

footer {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	z-index: 1;
	background: linear-gradient(to top, gray, #F8F8FF);
	font-size: 20px;
	height: 60px;
	padding-top: 20px;
	width: 100%;
}

input[type=text], textarea {
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	width: 30%;
}

.left-picture-description {
	font-size: 20px;
	padding-right: 120px;
	text-align: left;
	height: 300px;
	margin-left: 0px;
	bottom: 15px;
}

.left-picture {
	float: left;
	margin-right: 40px;
	padding-left: 30px;
	display: block;
	max-width: 360px;
}

#form-box {
	text-align: center;
	background-color: #CCCCCC;
	margin-left: 20%;
	margin-right: 20%;
	padding: 30px;
	border-radius: 15px;

}

#long-input {
	height: 50px;
}



